---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>Team</title>
    <style>
      .team-member {
      text-align: center;
      margin-bottom: 50px;
      }
      .team-member img {
      margin: 0 auto;
      border: 7px solid white;
      }
      .team-member h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
      }
      .team-member p {
      margin-top: 0;
      }
      .text-muted {
      color: #777777;
      }
    </style>
  </head>
  <body data-page="elmo">
    <div id="page-content">
      {% include header.html %}
      <!-- <div class="banner banner--interior-hero">
        <div class="constrained constrained--sm">
          <div class="banner--interior-hero__content">
            <h1>ELMo</h1>
            <p class="t-sm"><i><a href="https://arxiv.org/abs/1802.05365">Deep contextualized word representations</a></i><br>Matthew E. Peters, Mark Neumann, Mohit Iyyer, Matt Gardner,<br>Christopher Clark, Kenton Lee, Luke Zettlemoyer.<br>NAACL 2018.</p>
          </div>
        </div>
      </div> -->
      <div class="constrained constrained--med">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1 class="section-heading">TEAM
                    <hr class="section-heading-spacer"></h1>
                    <div class="clearfix"></div>
                </div>
            </div> 
            <div class="row">
              <li class="text-center"><img class="avatar avatar-32 img-circle" src="photo.jpg"/><p>avatar-md</p></li>
              <li class="text-center"><img class="avatar avatar-32 img-circle" src="photo.jpg"/><p>avatar-md</p></li>
              <li class="text-center"><img class="avatar avatar-32 img-circle" src="photo.jpg"/><p>avatar-md</p></li>
              <li class="text-center"><img class="avatar avatar-32 img-circle" src="photo.jpg"/><p>avatar-md</p></li>
              <li class="text-center"><img class="avatar avatar-32 img-circle" src="photo.jpg"/><p>avatar-md</p></li>
              <li class="text-center"><img class="avatar avatar-32 img-circle" src="photo.jpg"/><p>avatar-md</p></li>
              <li class="text-center"><img class="avatar avatar-32 img-circle" src="photo.jpg"/><p>avatar-md</p></li>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
