---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>Team</title>
    <style>
      .team-member {
      text-align: center;
      margin-bottom: 50px;
      }
      .team-member img {
      margin: 0 auto;
      border: 7px solid white;
      }
      .team-member h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
      }
      .team-member p {
      margin-top: 0;
      }
      .text-muted {
      color: #777777;
      }
    </style>
  </head>
  <body data-page="elmo">
    <div id="page-content">
      {% include header.html %}
      <!-- <div class="banner banner--interior-hero">
        <div class="constrained constrained--sm">
          <div class="banner--interior-hero__content">
            <h1>ELMo</h1>
            <p class="t-sm"><i><a href="https://arxiv.org/abs/1802.05365">Deep contextualized word representations</a></i><br>Matthew E. Peters, Mark Neumann, Mohit Iyyer, Matt Gardner,<br>Christopher Clark, Kenton Lee, Luke Zettlemoyer.<br>NAACL 2018.</p>
          </div>
        </div>
      </div> -->
      <div class="constrained constrained--med">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1 class="section-heading">TEAM
                    <hr class="section-heading-spacer"></h1>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-11 col-lg-offset-1"> -->
                    <div class="col-sm-2 col-sm-offset-1">
                        <div class="team-member">
                            <img src="assets/team/lyu.jpg" class="img-responsive img-circle" alt="">
                            <a target="_blank" href="http://www.cse.cuhk.edu.hk/lyu/">Michael R. Lyu</a>
                            <p class="text-muted">Professor, CUHK<br>ACM Fellow, IEEE Fellow, AAAS Fellow</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="team-member">
                            <img src="assets/team/lyu.jpg" class="img-responsive img-circle" alt="">
                            <a target="_blank" href="https://jiemingzhu.github.io">Jieming Zhu</a>
                            <p class="text-muted">Researcher, Huawei Noah's Ark Lab<br>Ph.D., CUHK</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="team-member">
                            <img src="assets/team/lyu.jpg" class="img-responsive img-circle" alt="">
                            <a target="_blank" href="https://pinjiahe.github.io">Pinjia He</a>
                            <p class="text-muted">Postdoc, ETH<br>Ph.D., CUHK</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="team-member">
                            <img src="assets/team/lyu.jpg" class="img-responsive img-circle" alt="">
                            <a target="_blank" href="https://shilinhe.github.io/">Shilin He</a>
                            <p class="text-muted">Ph.D., CUHK</p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="team-member">
                            <img src="assets/team/lyu.jpg" class="img-responsive img-circle" alt="">
                            <a target="_blank" href="https://github.com/JinYang88">Jinyang Liu</a>
                            <p class="text-muted">Msc, Sun Yat-sen University</p>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
