---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    <title>Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body data-page="elmo">
    <div id="page-content">
      {% include header.html %}
      <div class="constrained constrained--med">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>Main Contributors</h1>
                </div>
            </div>
            <div class="row">
              <ul class="nav nav-justified " style="padding-left: 0px; list-style-type: none;">
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/ywan.png"/><p><a href="http://wanyao.me">Yao Wan</a><br/>@HUST</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/yhe.jpg"/><p>Yang He<br/>@UTS</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/wzhao.jpg"/><p>Zhangqian Bi<br/>@HUST</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/jgzhang.jpg"/><p>Jianguo Zhang<br/>@UIC</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/ygui.jpg"/><p>Yi Gui<br/>@HUST</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/wzhao.jpg"/><p>Wei Zhao<br/>@HUST</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/xhuang.png"/><p>Xin Huang<br/>@HUST</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/sjzhang.png"/><p>Shijie Zhang<br/>@HUST</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/wzhao.jpg"/><p>Zhaoyang Chu<br/>@HUST</p></li>
              </ul>
            </div>


            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>Advisory Board</h1>
                </div>
            </div>
            <div class="row">
              <ul class="nav nav-justified " style="padding-left: 0px; list-style-type: none;">
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/ylsui.png"/><p><a href="https://yuleisui.github.io">Yulei Sui</a><br/>@UTS</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/zzhao.png"/><p><a href="https://person.zju.edu.cn/zhaozhou">Zhou Zhao</a><br/>@ZJU</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/Kazuma Hashimoto.png"/><p><a href="https://scholar.google.com/citations?user=gVi99BIAAAAJ&hl=zh-CN">Kazuma Hashimoto</a><br/>@Salesforce</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/hyZhang.jpg"/><p><a href="https://sites.google.com/site/hongyujohn">Hongyu Zhang</a><br/>@Univ. of Newcastle</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/hjin.jpg"/><p><a href="https://scholar.google.ca/citations?user=o02W0aEAAAAJ&hl=en">Hai Jin</a><br/>@HUST</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/gdxu.jpg"/><p><a href="https://sites.google.com/view/guandong-xu">Guandong Xu</a><br/>@UTS</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/cmxiong.jpg"/><p><a href="http://cmxiong.com">Caiming Xiong</a><br/>@Salesforce</p></li>
                <li class="text-center" style="padding-left:00px;"><img class="avatar avatar-16 rounded-circle" style="padding:10px;width:160px;height:160px" src="assets/team/psyu.jpg"/><p><a href="https://scholar.google.com/citations?user=D0lL1r0AAAAJ&hl=zh-CN">Philip S. Yu</a><br/>@UIC</p></li>
              </ul>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>Acknowledgement</h1>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                  <p>The Fairseq highly inspires the NaturalCC for natural language processing. We appreciate the Fairseq team for their contribution and the high-quality backbone structure of the framework.</p>
              </div>
            </div>
        </div>
      </div>
    </div>

  </body>
</html>
