<nav>
  <ul>
    <li data-page="home"><a href="/" class="nav__link"><span>Home</span></a></li>
    <!-- <li><a href="http://129.28.163.234:3000/" class="nav__link"><span>NaturalCC</span></a></li> -->
    <li><a href="http://121.43.116.104:3000/" class="nav__link"><span>Demo</span></a></li>
    <li data-page="publications"><a href="/publications" class="nav__link"><span>Publications</span></a></li>
    <li data-page="leaderboard"><a href="/leaderboard" class="nav__link"><span>Leaderboard</span></a></li>
    <li data-page="team"><a href="/team" class="nav__link"><span>Team</span></a></li>
    <li><a href="https://github.com/CGCL-codes/naturalcc" target="_blank" class="nav__link"><span>GitHub</span></a></li>
  </ul>
</nav>
